<div class="layout-container">
  <div class="layout-sidenav">
    <div>
      <div>
        <div class="list-item" *ngFor="let project of projectService.projects$ | async"
                       mat-ripple
                       [class.active-project]="project.id === projectService.activeProject"
             [class.running-project]="project.isRunning"

        >
          <div class="list-item-content">
            <div class="list-item-link" routerLink="{{ project.id }}">
              {{ project.name }}
            </div>
            <div class="list-item-actions" *ngIf="project.id === projectService.activeProject">
              <button class="mat-elevation-z0 list-item-action"
                      color="primary"
                      mat-icon-button
                      [disabled]="project.isRunning"
                      (click)="spawn(project)"
              >
                <mat-icon >play_circle</mat-icon>
              </button>
              <button color="warn"
                      mat-icon-button
                      [disabled]="!project.isRunning"
                      (click)="stop(project)"
                      class="mat-elevation-z0 list-item-action"
              >
                <mat-icon color="warn">stop_circle</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider/>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-content">
    <router-outlet/>
  </div>
</div>
