<!--<mat-drawer-container class="example-container" [hasBackdrop]="false">-->
<!--  <mat-drawer #drawer mode="push">I'm a drawer</mat-drawer>-->
<!--  <mat-drawer-content>-->
<!--    <div [style]="{height: '100vh'}">-->
<!--      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>-->
<!--    </div>-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->

<div class="layout-container">
  <div class="layout-sidenav">
    Sidenav
    <div>
      <div *ngFor="let project of projectService.processes | async">
        <div>
          {{ project.name }} - {{ project.isRunning ? 'running' : 'not running' }}
        </div>
        <div>

          <button class="mat-elevation-z0"
                  color="primary"
                  mat-icon-button
                  [disabled]="project.isRunning"
                  (click)="spawn(project)"
          >
            <mat-icon >play_circle</mat-icon>
          </button>
          <button class="mat-elevation-z0"
                  color="accent"
                  mat-icon-button
          >
            <mat-icon >replay_circle_filled</mat-icon>
          </button>
          <button class="mat-elevation-z0"
                  color="warn"
                  mat-icon-button
                  [disabled]="!project.isRunning"
                  (click)="stop(project)"
          >
            <mat-icon color="warn">stop_circle</mat-icon>
          </button>
        </div>
<!--        <button mat-button (click)="spawn(project)">Spawn</button>-->
      </div>
    </div>
  </div>
  <div class="layout-content" style="width: 100%">
    <div id="term" style="height: 100%; width: 100%"></div>
  </div>
</div>
